body{
    background-color: rgb(255, 0, 34);
    background-image: url(flores.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% 50%;
}
    
     
h1{
    background-color: rgb(213, 14, 240);
    background-image: ;

}